<?xml version="1.0" encoding="utf-8"?>
<Simba>
  <Extensions>
    <ExtensionCount>9</ExtensionCount>
    <Extension3>
      <Settings>
        <Extensions_Visible>true</Extensions_Visible>
        <Extensions_OverrideUpdate>false</Extensions_OverrideUpdate>
        <Extensions_Update>true</Extensions_Update>
        <Extensions_CheckforUpdates>true</Extensions_CheckforUpdates>
        <Extensions_TimerInterval>3600000</Extensions_TimerInterval>
        <Extensions_Version>11</Extensions_Version>
      </Settings>
      <Path>C:\Simba\Extensions\extension.sex</Path>
      <Enabled>True</Enabled>
    </Extension3>
    <Extension0>
      <Path>C:\Simba\Extensions\associate.sex</Path>
      <Enabled>True</Enabled>
    </Extension0>
    <Extension1>
      <Path>C:\Simba\Extensions\CRov.sex</Path>
      <Enabled>False</Enabled>
    </Extension1>
    <Extension2>
      <Path>C:\Simba\Extensions\dtm_editor.sex</Path>
      <Enabled>True</Enabled>
    </Extension2>
    <Extension4>
      <Path>C:\Simba\Extensions\formatter.sex</Path>
      <Enabled>True</Enabled>
    </Extension4>
    <Extension5>
      <Path>C:\Simba\Extensions\paster.sex</Path>
      <Enabled>False</Enabled>
    </Extension5>
    <Extension6>
      <Path>C:\Simba\Extensions\security.sex</Path>
      <Enabled>False</Enabled>
    </Extension6>
    <Extension7>
      <Path>C:\Simba\Extensions\srl.sex</Path>
      <Enabled>True</Enabled>
      <Settings>
        <SRL_Visible>true</SRL_Visible>
        <SRL_OverrideUpdate>false</SRL_OverrideUpdate>
        <SRL_Update>true</SRL_Update>
        <SRL_CheckforUpdates>true</SRL_CheckforUpdates>
        <SRL_TimerInterval>3600000</SRL_TimerInterval>
        <SPS_Visible>true</SPS_Visible>
        <SPS_OverrideUpdate>false</SPS_OverrideUpdate>
        <SPS_Update>true</SPS_Update>
        <SPS_CheckforUpdates>true</SPS_CheckforUpdates>
        <SPS_TimerInterval>3600000</SPS_TimerInterval>
        <Plugins_Visible>True</Plugins_Visible>
        <Plugins_OverrideUpdate>false</Plugins_OverrideUpdate>
        <Plugins_Update>true</Plugins_Update>
        <Plugins_CheckforUpdates>true</Plugins_CheckforUpdates>
        <Plugins_TimerInterval>3600000</Plugins_TimerInterval>
        <Plugins_Version>21</Plugins_Version>
        <SPS_Version>156</SPS_Version>
        <SRL_Version>1381</SRL_Version>
      </Settings>
    </Extension7>
    <Extension8>
      <Settings>
        <ODTM_Visible>true</ODTM_Visible>
        <ODTM_OverrideUpdate>false</ODTM_OverrideUpdate>
        <ODTM_Update>true</ODTM_Update>
        <ODTM_CheckforUpdates>true</ODTM_CheckforUpdates>
        <ODTM_TimerInterval>3600000</ODTM_TimerInterval>
        <ODTM_Version>-1</ODTM_Version>
      </Settings>
      <Path>C:\Simba\Extensions\ObjectDTM.sex</Path>
      <Enabled>True</Enabled>
    </Extension8>
  </Extensions>
  <Settings>
    <ShowBalloonHints>True</ShowBalloonHints>
    <Includes>
      <Path>Includes\</Path>
    </Includes>
    <Fonts>
      <Path>Fonts\</Path>
      <LoadOnStartUp>True</LoadOnStartUp>
      <Version>16</Version>
      <VersionLink>http://simba.villavu.com/bin/Fonts/Version</VersionLink>
      <UpdateLink>http://simba.villavu.com/bin/Fonts/Fonts.tar.bz2</UpdateLink>
    </Fonts>
    <Extensions>
      <Path>Extensions\</Path>
      <FileExtension>sex</FileExtension>
    </Extensions>
    <Scripts>
      <Path>Scripts\</Path>
    </Scripts>
    <CodeInsight>
      <ShowHidden>False</ShowHidden>
      <FunctionList>
        <ShowOnStart>True</ShowOnStart>
      </FunctionList>
      <CodeHints>
        <ShowAutomatically>True</ShowAutomatically>
      </CodeHints>
      <CodeCompletion>
        <ShowAutomatically>True</ShowAutomatically>
      </CodeCompletion>
    </CodeInsight>
    <Tray>
      <AlwaysVisible>True</AlwaysVisible>
    </Tray>
    <Interpreter>
      <Type>1</Type>
      <AllowSysCalls>False</AllowSysCalls>
    </Interpreter>
    <SourceEditor>
      <DefScriptPath>default.simba</DefScriptPath>
      <LazColors>True</LazColors>
      <Font>
        <Name>Courier New</Name>
        <Size>10</Size>
        <Color>536870912</Color>
        <Styles/>
        <CharSet>0</CharSet>
        <Quality>2</Quality>
        <Pitch>2</Pitch>
      </Font>
    </SourceEditor>
    <News>
      <URL>http://simba.villavu.com/bin/news</URL>
    </News>
    <Plugins>
      <Path>Plugins\</Path>
    </Plugins>
    <Tabs>
      <OpenNextOnClose>False</OpenNextOnClose>
      <OpenScriptInNewTab>True</OpenScriptInNewTab>
      <CheckTabsBeforeOpen>True</CheckTabsBeforeOpen>
    </Tabs>
    <General>
      <MaxRecentFiles>10</MaxRecentFiles>
    </General>
    <Updater>
      <CheckForUpdates>True</CheckForUpdates>
      <AutomaticallyUpdate>True</AutomaticallyUpdate>
      <RemoteVersionLink>http://simba.villavu.com/bin/Windows/x86/Stable/Version</RemoteVersionLink>
      <RemoteLink>http://simba.villavu.com/bin/Windows/x86/Stable/Simba.exe</RemoteLink>
      <CheckEveryXMinutes>30</CheckEveryXMinutes>
    </Updater>
    <ColourPicker>
      <AddToHistoryOnPick>True</AddToHistoryOnPick>
      <ShowHistoryOnPick>True</ShowHistoryOnPick>
    </ColourPicker>
    <Notes>
      <Content>FQAAAHic88svSS1WCE5NLsnMz1PQVXAqSvRWBABR+Abt</Content>
      <Visible>False</Visible>
    </Notes>
    <MainForm>
      <NormalSize>739:555</NormalSize>
    </MainForm>
  </Settings>
  <ScriptManager>
    <URL>http://127.0.0.1/</URL>
    <Path>Scripts\ScriptStorage.xml</Path>
    <File>ScriptManager.xml</File>
    <FirstRun>True</FirstRun>
  </ScriptManager>
  <LastConfig>
    <MainForm>
      <Position>852:12:944:1001</Position>
      <State>normal</State>
      <FunctionListShown>False</FunctionListShown>
      <RecentFiles>
        <Count>10</Count>
        <File0>C:\Simba\Includes\UltimateScapeAlcher.simba</File0>
        <File1>C:\Simba\Includes\OS-Scape Fighter (1).simba</File1>
        <File2>C:\Simba\Includes\srl-5\SRL\core\simba.simba</File2>
        <File3>C:\Simba\Includes\AeroLib\entities\player\WorldHandler.simba</File3>
        <File4>C:\Simba\Includes\AeroLib\AeroLib.simba</File4>
        <File5>C:\Simba\Includes\AutoBeggerReloaded V2.simba</File5>
        <File6>C:\Simba\Includes\sps-6\lib\sps.simba</File6>
        <File7>C:\Simba\Includes\OS-Scape_Fighter.simba</File7>
        <File8>C:\Simba\Includes\grinderscapenatures.simba</File8>
        <File9>C:\Users\Abstract Build\Downloads\ClutchFireRunesUpdater.simba</File9>
        <File10></File10>
      </RecentFiles>
    </MainForm>
  </LastConfig>
</Simba>
